---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactFormFull from '~/components/Forms/ContactFormFull.astro';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- Contact Form Section -->
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="py-12">
      
      <!-- Grid Layout: Text | Form -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 items-start border border-terminal-400 bg-terminal-bg-secondary shadow p-4 sm:p-6 lg:p-8 lg:divide-x lg:divide-terminal-400">
        
        <!-- Text Content Column -->
        <div class="space-y-6 md:pr-0 lg:pr-8">
          <div>
<!--             <h2 class="text-3xl font-bold font-uav-mono text-terminal-500 text-glow-strong mb-4 text-center text-balance"></h2> -->
            <p class="text-terminal-400 font-kode text-lg">
              Ready to bring your digital vision to life? Let's collaborate on your next project.
              <br/><br/>
              Whether you need a new website, web application, or technical consultation, I'm here to help transform your ideas into powerful digital solutions that drive results.
              <br/><br/>
              I typically respond within 24 hours and offer free initial consultations to discuss your project needs.
            </p>
          </div>
          <a href="mailto:your.email@domain.com" class="text-terminal-400 hover:bg-terminal-400 hover:text-terminal-bg-primary transition-colors font-kode text-lg inline-flex items-center gap-2 px-2 py-1">
            <Icon name="mdi:email" class="w-6 h-6" />
            your.email@domain.com
          </a>
        </div>
        
        <!-- Form Column -->
        <div class="md:pl-0 lg:pl-8">
          <div>
            <h2 class="text-3xl font-bold font-uav-mono text-terminal-500 text-glow-strong mb-4 text-center text-balance">Contact Me</h2>
          </div>
          <ContactFormFull />
        </div>
        
      </div>

    </div>
  </div>

  
</Layout>
