---
//Astro Component
---

<span class="TerminalPrefix">&#62;<span class="flashing">_</span></span>

<style>
  .TerminalPrefix{
	  font-size: inherit;
    margin: 0px;
    margin-right: -0.8ch;
    padding: 0px;
  }
  .flashing{
    animation: flash 1s infinite linear;
    margin: 0px;
    padding: 0px
  }
  @keyframes flash {
    0%, 49% {
      opacity: 1;
    }
    50%, 100% {
      opacity: 0;
    }
  }
</style>